header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1240px;
    height: 68px;
    margin-top: 40px;
    margin-left: 100px;
    font-size: 24px;
}

.header__logo {
    width: 210.32px;
    height: 68px;
}

.header__link {
    margin-left: 70px;
    font-size: 24px;
    font-weight: 500;
    text-align: right;
    color: $color-primary;
    text-decoration: none;

    &--underlined {
        text-decoration: underline;
    }
}

.linkActive {
    text-decoration: underline;
}